/* General styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(135deg, #0E0B16, #362d53, #372141, #07011f);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #E7DFDD;
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Navigation bar styles */
header {
    background-color: rgba(14, 11, 22, 0.9);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #A239CA;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s, transform 0.3s;
    padding: 0.5em 1em;
    border-radius: 5px;
}

nav ul li a.active {
    border-bottom: 2px solid #A239CA; /* Underline the active tab */
}

nav ul li a:hover {
    color: #0E0B16;
    background-color: #E7DFDD;
    transform: scale(1.1);
}

/* About section styles */
.about-section-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-section {
    width: 80%; /* Adjusted for better alignment */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to the left */
    justify-content: center;
}

.section-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to the left */
    text-align: left; /* Align to the left */
    gap: 10px;
    transform: translateX(-100%); /* For animation */
    opacity: 0; /* For animation */
}

.section-heading-article {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    background-image: linear-gradient(90deg, #e3cde1, #b297ed);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative; /* Add this to use the ::after pseudo-element */
    display: inline-block; /* Add this to ensure the width matches the content */
    margin-bottom: 0; /* Adjust this to bring the title closer to the line */
}

.section-heading-article::after {
    content: '';
    display: block;
    width: 100%; /* Make the line match the width of the text */
    height: 1px;
    background-image: linear-gradient(90deg, #4717F6, #A239CA);
    margin-top: 5px; /* Adjust this to bring the line closer to the title */
}



.info-dp-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    opacity: 0; /* For animation */
    transform: translateY(50px); /* For animation */
    transition: opacity 1s ease-out, transform 1s ease-out; /* For animation */
}

.about-info {
    width: 80%; /* Adjusted for better alignment */
    display: flex;
    flex-direction: column;
    text-align: left; /* Align to the left */
    opacity: 0; /* For animation */
    transform: translateY(50px); /* For animation */
    transition: opacity 1s ease-out, transform 1s ease-out; /* For animation */
}

.about-info p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #E7DFDD;
}

.dp {
    width: 30%; /* Adjusted for better alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    transition-duration: .5s;
    opacity: 0; /* For animation */
    transform: translateY(50px); /* For animation */
}

.dp img {
    width: 100%;
    height: auto;
   /* border-radius: 50%; */
}

.dp::before {
    content: "";
    background-color: transparent;
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: -2;
   /* box-shadow: 2px 2px 0px inset #8000ff, -2px -2px 0px inset transparent; */
    transition-duration: .5s;
}

.dp::after {
    content: "";
    background-color: transparent;
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: -2;
   /* box-shadow: 2px 2px 0px inset transparent, -2px -2px 0px inset #8000ff; */
    transition-duration: .5s;
}

/* Hover effect on dp */
.dp:hover::after {
    transform: translate(20px, 20px);
    transition-duration: .5s;
}

.dp:hover::before {
    transform: translate(-20px, -20px);
    transition-duration: .5s;
}

/* Button styles */
.contact-btn {
    background: linear-gradient(90deg, #4717F6, #A239CA);
    color: #E7DFDD;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0. 3s ease, transform 0.3s ease;
    margin-top: 20px;
    margin-bottom: 60px;
    opacity: 0; /* For animation */
    transform: translateY(50px); /* For animation */
    transition: opacity 1s ease-out, transform 1s ease-out; /* For animation */
    text-align: center; /* Center the text */
    display: inline-block; /* Ensure the button behaves like an inline-block element */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* 3D effect */
    border-radius: 5px; /* Rounded corners */
}

.contact-btn:hover {
    background: linear-gradient(90deg, #A239CA, #4717F6);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4); /* Enhanced 3D effect on hover */
    transform: translateY(-3px); /* Lift button slightly on hover */
}

.contact-btn:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Reduced shadow on click */
    transform: translateY(2px); /* Button pressed effect */
}

@keyframes gradientTextAnimation {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}

/* Animation keyframes */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}
